.cartContainer {
  width: 325px;
  background: white;
  position: fixed;
  height: 100vh;
  right: -100%;
  padding: 3rem 1.5rem;
  transition: right 0.3s;
  display: flex;
  flex-direction: column;
}

.cartHeader {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}

.cartCloseBtn {
  background: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  font-size: 1.25rem;
}

.totals {
  display: flex;
  justify-content: space-between;
}

.totals span {
  font-size: 1.25rem;
}

.cartFooter a {
  display: block;
  background: var(--primary-color);
  text-align: center;
  padding: 0.75rem;
  align-self: flex-end;
  margin-top: 1rem;
}

.cartBody {
  flex: 1;
}
