.productContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5rem;
  padding: 3rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.imageContainer {
  width: 50%;
  max-width: 500px;
  max-height: 500px;
}

.description {
  font-size: 1.25rem;
}

.imageContainer img {
  position: relative !important;
  display: block;
}

.productName {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
